<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e463f038-e7aa-438a-9dc3-1bdc08d02073/resourceGroups/ObokbaraRumSuite/providers/Microsoft.Web/sites/ObokbaraRumApp/slots/API</ResourceId>
    <ResourceGroup>ObokbaraRumSuite</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://obokbararumapp-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>obokbararumapp-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ObokbaraRumApp__API</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ObokbaraRumApp__API</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SpotsContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AzureWebAPI1.Models.SpotsContext, AzureWebAPI1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SpotStateContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AzureWebAPI1.Models.SpotStateContext, AzureWebAPI1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SpotStatusContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AzureWebAPI1.Models.SpotStatusContext, AzureWebAPI1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SpotContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=iotacando.database.windows.net,1433;Initial Catalog=AcandoFreeSpot;Persist Security Info=False;User ID=iotacando;Password=Acando2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SpotContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=iotacando.database.windows.net,1433;Initial Catalog=AcandoFreeSpot;Persist Security Info=False;User ID=iotacando;Password=Acando2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SpotsContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SpotStateContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SpotStatusContext-Web.config Connection String" />
  </ItemGroup>
</Project>